#skills-container {
    margin-top: 282px;
}

#skills-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;

    height: 230px;
    width: 100%;

    margin-top: 33px;

    background-color: #0C152D;
    border-radius: 1em;
}

#skills-icons {
    margin-top: 3vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

#skills-box > img {
    filter: opacity(70%) invert(100%) sepia(0%) saturate(2%) hue-rotate(80deg) brightness(113%) contrast(101%);
    transform: rotate(180deg);

    height: 50px;
    width: 50px;
}

.skill-icon {
    filter: saturate(0) opacity(70%);
    width: 110px;
}

.skill-icon.react {
    width: 208px;
}

.skill-icon.nodejs {
    width: 140px;
}

.skill-icon:hover {
    filter: saturate(1) opacity(100%);

}