#banner-container {
    display: flex;
    justify-content: center;
}

#banner {
    margin-top: 3em;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1575px;
}

#banner-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner-title h1,
h2 {
    z-index: 1;
}

.ellipse-blur {
    width: 190px;
    height: 190px;
    background: #B90778;
    filter: blur(100px);
}

.ellipse-blur-top {
    position: absolute;
    left: 10%;
    top: 32%;
}

.ellipse-blur-bottom {
    position: absolute;
    right: 15%;  
    bottom: -45%;
}

#presentation-title {
    color: #fff;
    margin: 0 -100px 0 0;
    font-size: 64px;

    white-space: nowrap;
}

#presentation-title::before {
    content: '"';
    color: #2CD397;
}

#presentation-title::after {
    content: '";';
    color: #2CD397;
}

#presentation-subtitle {
    font-size: 50px;
    color: #fff;
    margin: 0 -100px 0 0;

    white-space: nowrap;
}

#presentation-subtitle::before {
    content: '<';
    color: #b90778;
}

#presentation-subtitle::after {
    content: '/>';
    color: #b90778;
}

#main-img {
    width: 550px;
    height: 550px;

    border-radius: 7em;
}

#about-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 238px;
}

/* #about {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    max-width: 1575px;
} */

#about-img {
    width: 360px;
    height: 360px;

    border-radius: 5em;
}

#about-text {
    max-width: 863px;
    margin-left: 100px;

    text-align: justify;

    height: fit-content;
}

#about-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
}

#about-text a {
    color: #2CD397;
}

#about-text img {
    filter: invert(69%) sepia(66%) saturate(482%) hue-rotate(102deg) brightness(90%) contrast(88%);

    position: relative;
    top: 5px;
    left: 3px;
}