#banner-container {
    display: flex;
    justify-content: center;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

    margin-top: 3em;
    height: 70vh;
    width: 100%;

}

#banner-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 -150px 0 0;
}

#banner-title h1,
h2 {
    margin: 0;
}

h1,
h2,
p {
    z-index: 1;
}

.ellipse-blur {
    background: #b90778;
    filter: blur(120px);
    z-index: 0;
}

.blur-top {
    width: 190px;
    height: 190px;

    position: absolute;
    left: 10%;
    top: 32%;
}

.blur-bottom {
    align-self: flex-end;
    margin-left: -150px;
    width: 190px;
    height: 190px;
}

#presentation-title {
    color: #fff;
    font-size: 64px;

    white-space: nowrap;
}

#presentation-title::before {
    content: '"';
    color: #2CD397;
}

#presentation-title::after {
    content: '";';
    color: #2CD397;
}

#presentation-subtitle {
    font-size: 50px;
    color: #fff;

    white-space: nowrap;
}

#presentation-subtitle::before {
    content: '<';
    color: #b90778;
}

#presentation-subtitle::after {
    content: '/>';
    color: #b90778;
}

#main-img {
    max-width: 100%;
    height: auto;

    border-radius: 7em;
}

#about-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 238px 0;
    margin-right: 0;
}

#about-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    flex-grow: 2;
    align-content: space-between;
}

#about-img {
    width: 360px;
    height: 360px;

    border-radius: 5em;
}

#about-text {
    max-width: 863px;

    text-align: justify;

    height: fit-content;
}

#about-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
}

#about-text a {
    color: #2CD397;
}

#about-text img {
    filter: invert(69%) sepia(66%) saturate(482%) hue-rotate(102deg) brightness(90%) contrast(88%);

    position: relative;
    top: 5px;
    left: 3px;
}

@media only screen and (max-width: 1550px) {
    #banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main-img {
        width: 450px;
        height: auto;
        border-radius: 5em;
    }

    #presentation-title {
        font-size: 45px;
    }

    #presentation-subtitle {
        font-size: 35px;
    }

    #about-img {
        width: 300px;
        height: 300px;
        border-radius: 5em;
    }

    #about-text p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1125px) {
    #banner-title {
        margin: 5% 0;
    }

    #banner-title h1 {
        font-size: 5vw;
    }

    #banner-title h2 {
        font-size: 4vw;
    }
}