footer {
  margin: 247px 0 30px;
}

footer hr {
  border-color: #ffffffc5;
  border-width: 1px;
  border-style: solid;
}

#footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  color: #fff;
  height: 32px;
  width: 32px;
}

#social-media {
  display: flex;
  justify-content: space-between;

  width: 88px;
}

#credits {
  width: 100px;
  display: flex;
  justify-content: space-between;

  color: #fff;
  font-size: 16px;
  font-weight: lighter;
}

#love {
  filter: invert(13%) sepia(100%) saturate(2912%) hue-rotate(307deg) brightness(108%) contrast(110%);
}

.arrow {
  height: 40px;
  width: 40px;

  cursor: pointer;
  animation: movebtn 2s ease-in-out infinite;
}

@keyframes movebtn {
  10% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-10px);
  }

}