.primary-large {
    width: 204px;
    height: 51px;

    border-style: solid;
    border-width: 4px;
    border-radius: 5px;
    font-size: 20px;
    font-weight:700;

    cursor: pointer;

    color: #B90778;
    border-color: #B90778;
    background-color: transparent;
    transition: background-color 0.2s ease-out 100ms
}

.primary-large:hover, .primary-large:focus  {
    background-color: #b907786e;
    transition: background-color 0.5s ease-out 100ms
}