.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 2em;

    height: 100%;
    width: 100%;
}

.small-length {
    display: none;
}

#options {
    display: flex;
    width: 30vw;
    justify-content: space-between;

    min-width: 360px;
}

.option {
    text-decoration: none;
    color: #FFFF;
    font-weight: 200;
    font-size: 18px;

    height: 20px;
    padding-bottom: 10px;

    cursor: pointer;
}

.active {
    color: #b90778;
    
    border-style: none none solid none;
    border-width: 2px;
    border-color: #b90778;
}

.option:hover {
    color: #2CD397;

    border-style: none none solid none;
    border-width: 2px;
    border-color: #2CD397;
}

.active:hover {
    color: #C33F93;
    
    border-style: none none solid none;
    border-width: 2px;
    border-color: #C33F93;
}

@media only screen and (max-width: 1000px) {
    .full-length {
        display: none;
    }

    .small-length {
        display: flex;
    }

    .menu {
        color: #b90778;
        width: 12vw;
        height: 12vh;
    }
}